<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
        {% csrf_token %}
        <label>First name:</label><br>
        <input type="text" name="fname"><br>
        <label>Last name:</label><br>
        <input type="text" name="lname"><br>
        <label for="department">Department:</label><br>
        <input type="text" name="department"><br><br>
        <label>Describe Problem:</label><br>
        <textarea rows="4" cols="50" name="problem"></textarea><br>
        <label>Upload Screenshot</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" /><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>